/* General Styles */
body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    background-color: #000000;
    overflow-x: hidden;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    font-family: 'orbitron', sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    color: #ffffff;
}

/* Hide logo on scroll */
header.hidden {
    display: none;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 80px 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, #000000, #16035f);
}

.hero-text {
    max-width: 50%;
}

.hero-text .text-component {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    position: relative;
}

.hero-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.hero-text p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    margin: 20px 0;
}

.hero-text .cta-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    transition: background-color 0.3s;
}

.hero-text .cta-btn:hover {
    background-color: #004494;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Brief Section */
.brief {
    text-align: center;
    padding: 60px 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.brief p {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.scroll-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    transition: background-color 0.3s;
}

.scroll-btn:hover {
    background-color: #004494;
}

/* Features Section */
.features-container {
    padding: 60px 20px;
}

.feature-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    background: linear-gradient(135deg, #000000, #0b0450);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
}

.feature-card .feature-text {
    flex: 1;
    padding: 20px;
}

.feature-card .feature-text h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature-card .feature-text p {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
}

.feature-card .feature-image {
    flex: 1;
    padding: 20px;
}

.feature-card .feature-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Team Section */
.team-section {
    padding: 60px 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.team-section .meet-the-team {
    text-align: center;
}

.team-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    justify-content: space-around;
}

.team-member {
    background: linear-gradient(135deg, #333333, #444444);
    border-radius: 15px;
    padding: 20px;
    max-width: 45%;
    text-align: center;
}

.team-member img {
    width: 190px;
    height: 180px;
    border-radius: 50%;
}

.team-member p {
    margin: 10px 0;
}


/* Contact Section */
.contact {
    padding: 60px 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form {
    flex: 1;
    padding: 30px 30px 30px 30px;
    background: linear-gradient(135deg, #333333, #444444);
    border-radius: 15px;
    margin-right: 20px;
}

.contact-form h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: #0056b3;
    color: #fff;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #004494;
}

.contact-info {
    flex: 1;
    padding: 20px;
    background: linear-gradient(135deg, #333333, #444444);
    border-radius: 15px;
}

.contact-info .address p,
.contact-info .social-media a {
    margin-bottom: 10px;
}

.contact-info .social-media a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact-info .social-media a img {
    width: 5%;
    height: auto;
    margin-right: 10px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 95%;
}

footer .logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
}

#dynamic-word {
    transition: opacity 0.5s ease-in-out;
}